# Visual Studio, 빌드 관련
.vs/
*.sln
*.vcxproj*
*.pdb
*.exe
*.obj
*.ipch
*.cache
*.ilk
*.json
*.vscode/

x64/
Debug/
Release/

# 기타 임시파일
*.log
*.tlog
*.user
test.py
test.java

# 미해결 문제
1718.py
4134.py
7662.py
1063.py
27065.py
9935.py
27445.py
1541.py


